<header class="navigation">
    <h1 class="logo">Invento</h1>
    <nav class="nav">
        <ul class="nav-items">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/add-Product">Add-Product</a></li>
            <li class="nav-item"><a href="/add-Category">Add-Category</a></li>
        </ul>
    </nav>
</header>